.collapse_arrow {
  position: absolute;
  transition: transform 0.3s;
  cursor: pointer;
  right: 10px;
  top: 10%;
  color: white;
}

.collapse_arrow-up {
  transform: rotate(90deg);
}
.collapse_arrow-dwn {
  transform: rotate(-90deg);
}


.transactionData_tr {
  position: relative;
  background-color: #00bc77;
  border-top: 4px solid #12002b;
}

.tableDatas_container {
  width: 100%;
}

.transactionData_tr td {
  color: white;
  font-size: 14px;
  font-weight: 600;
  padding: 5px;
}

